@font-face {
    font-family: 'Nunito_sans_regular';
    src: url('../fonts/nunitosans-regular-webfont.woff') format('woff2'),
        url('../fonts/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Nunito_sans_light';
    src: url('../fonts/nunitosans-light-webfont.woff2') format('woff2'),
        url('../fonts/nunitosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Lexend_deca';
    src: url('../fonts/lexenddeca-regular-webfont.woff2') format('woff2'),
        url('../fonts/lexenddeca-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Darker_grotesque';
    src: url('../fonts/darkergrotesque-regular-webfont.woff2') format('woff2'),
        url('../fonts/darkergrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#head {
    width: 100vw;
    height: 100vh;
    position: relative;

}

#header {
    background-color: white;
    height: 250px;
    width: 100%;
}

#canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1000;
    height: 100%;
}

.grad {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 80%;
    height: 20%;
    width: 100%;
    background-image: linear-gradient(0deg, rgb(250, 250, 250), rgba(250, 250, 250, 0));
}

html {
    background-color: rgb(250, 250, 250);
    color: #707070;
}

body {
    margin: 0;
}

.top-nav {
    padding-top: 3%;
    margin: 0 20% 0;
}

.floating {
    position: absolute;
    top: 0;
    left: 0;
}

.link-nav {
    width: 3.5em !important;
}

span {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    font-size: 90%;
}

.intro-box {
    padding-top: 50px;
    margin: 0 20% 5%;
    display: block;

}

.intro-box>.name {
    font-family: 'Lexend_deca', sans-serif;
    font-weight: bold;
    ;
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgb(0, 0, 0, 0.87);
}

.intro-box>.name>span {
    font-weight: bold;
    font-size: 150%;
}

.intro-box>.description {
    margin-top: 0;
    font-family: 'Lexend_deca', sans-serif;
    font-weight: normal;
    color: #555;
    font-size: 120%;

}

.add-pad-left {
    padding-left: 1em;
}

.intro-box>.description>.link {
    font-size: 90% !important;
    font-weight: 600;
}

#about-me-para {
    font-size: 100%;
    margin: 10px 0 0;
    font-family: 'Nunito_sans', sans-serif;
    font-weight: normal;
}

.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sections {
    grid-gap: 16pt;
    margin: 0 20%;
}

.heading-1 {
    font-family: 'Lexend_deca', sans-serif;
    margin: 1em 0 0.3em;
    padding: 0;
    border-bottom: 4px solid #fff317;
    display: inline-block;
}

.heading-2 {
    font-family: 'Lexend_deca', sans-serif;
    font-size: 1.4em;
    margin: 0.3em 0;
    padding: -1em;
}

.heading-3 {
    font-size: 1em;
    font-family: 'Lexend_deca', sans-serif;
    color: #444;
    margin: 0.5em 0;
    padding: 0;
}

.link-to-top {
    padding: 1em;
    font-family: 'Lexend_deca', sans-serif;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 100%;
    color: #707070;
    display: inline-flex;
}

.link-to-top i {
    margin: 0.3em 0 0.3em 0.3em;
}

.link-to-top:hover {
    color: #555;
}

.link-to-top:active {
    color: #111;
}

.icon-to-top {
    transition: 0.25s;
}


.rec-link {
    margin: 0;
    transition: 0.25s;
}

.rec-link>img {

    z-index: -100;
}

.rec-link:hover {

    box-shadow: 0px 3px 15px #999;
    transform: translateY(-5px);
}

.rec-link:hover>.sections {
    margin-bottom: 5px;
}

.sections a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.sub-p {
    margin: 0 1em 0.2em;
    text-decoration: none;
    color: #222;
    display: inline-block;
    font-family: 'Lexend_deca', sans-serif;
}

.date-in-box {
    color: #707070;
    text-transform: uppercase;
    font-family: 'Darker_grotesque', sans-serif;
    font-size: 1.2em;
    padding: 0;
    margin: 0 1em;

}

.content-wrapper {
    max-width: 40em;
    margin: 0 20%;
    font-size: 1.2em;
}

.sub-heading {
    font-family: 'Darker_grotesque', sans-serif;
    text-transform: uppercase;
    margin: 2em 0 0em;
    color: #666;
    font-size: 150%;
}

.project-name {
    font-family: 'Lexend_deca', sans-serif;
    margin: 50px 0;
}

.project-par {
    font-size: 95%;
    line-height: 2em;
    color: rgb(0, 0, 0, 0.87);
    font-family: 'Nunito_sans', sans-serif;
}

.small-cap {
    text-transform: uppercase;
    font-family: 'Lexend_deca', sans-serif;
}

.centered {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.centered-in {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.centered-block {
    display: block;
    margin: 4em auto 1em;
    text-align: center;
}

.right-aligned {
    text-align: right;
    float: right;
    margin-left: auto;
}

.content-image {
    width: 100%;
}

.link {
    transition: 0.3s;
    font-family: 'Lexend_deca', sans-serif;
    text-decoration: underline;
    color: #333;
    margin: 1em 0;
}

#resume-lnk {
    margin-top: 2em;
    font-size: 120%;
}

.icon {
    margin: 2em 2em 2em 0;
    text-decoration: none;
}

.link:hover {
    color: #555;
}

.add-mar {
    margin-top: 2em !important;
}


.low {
    margin-top: 20%;
}

.grid-4-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1em 0;
}

.top-mar-0 {
    margin-top: 0;
}

.bot-mar-0 {
    margin-bottom: 0;
}

.shadow {
    box-shadow: 0px 3px 6px #D6D6D6;
    border-radius: 15pt;
    transition: 0.25s;
}

.box-shadow {
    grid-gap: 1%;
    border-radius: 25px;
    padding: 3%;
}

.to-show {
    margin: 0.5em;
    display: none !important;
}

.list-used-meth {
    padding: 0;
    margin: 0 1em 10px;
    list-style: none;

}

.list-item-used-meth {
    display: inline-grid;
    color: #777;
    margin: 0.3em auto;
    padding: 0.2em 0.5em;
    border-radius: 15pt;
    font-family: 'Lexend_deca', sans-serif;
}

footer {
    margin: 0 20% 0;
}

footer>* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend_deca', sans-serif;
    color: #707070;
    font-size: 1.2em;
    font-weight: bold;

}

footer>a>i {
    margin: 0 1em 0 0;
}

.no-line {
    text-decoration: none;
}

.grid-5-col {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grd-gap {
    grid-gap: 5px;
}

.bottom-nav {
    margin: 3em 0 1em;
    grid-gap: 10%;
}

.low {
    margin-top: 20%;
}

.grid-4-col>*>* {
    display: block;
    margin: 0 auto;
}

.circle {
    width: 1.5em;
    height: 1.5em;
    content: " ";
    border-radius: 50%;
    font-family: 'Lexend_deca', sans-serif;
    margin: auto;
    text-align: center;
    padding: 6px 6px 4px 6px;
}

.divcircle {
    border-radius: 50%;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 0;
    position: relative;

}

.parCircle {
    vertical-align: middle;
    width: 80%;
    padding: 10% 0 0 10%;
    font-size: 90%;
    font-family: 'Lexend_deca', sans-serif;
}

#brigades-span2 {
    grid-column: 1/3;
}

.small {
    grid-template-columns: 2fr 3fr;
}

.small-rght {
    grid-template-columns: 3fr 2fr;
}

.small .video {
    width: 60%;
    margin: auto
}

.text-cen {
    font-family: "Nunito_sans", sans-serif;
    font-weight: 100;
}

.styled {
    font-size: 100%;
    font-weight: lighter;
    margin: 0.5em 0;
    padding: 1em;
    line-height: 2em;
    font-kerning: normal;
    font-style: italic;
    text-align: center;

}

.centered-ver {
    margin: auto;
    vertical-align: middle;
}

.space-out {
    margin: 4em auto !important;
}

.red-shad {
    box-shadow: 0px 3px 15px rgba(149, 28, 28, 0.18);
}

.pnk-shad {
    box-shadow: 0px 3px 15px rgba(186, 61, 143, 0.18);
}

.cell {
    font-family: "Nunito_sans", sans-serif;
    padding: 0;
    grid-gap: 0.2em;
    text-align: center;
}

.before-ul {
    color: rgb(0, 0, 0, 0.87);
    margin: 1em 0 0.5em;
    font-weight: 900;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    font-family: 'Lexend_deca', sans-serif;
}

.cell ul {
    padding: 0;
    margin: 0;
}

.cell ul li {
    text-transform: lowercase;
    line-height: 1.5em;
    font-size: 100%;
    margin: 0;
    padding: 0 0 0 1em;
    list-style: none;
    font-weight: 100;

}

.in-dec {
    font-size: 120%;
    font-weight: 500;
    margin: 0.5em 0;
}

.neg {
    margin-bottom: -3em !important;
}

.bck-fth {
    margin: 20% auto;
    display: block;
    text-align: center;
    position: relative;
    font-size: 1.5em;
}

.no-gap {
    margin: 0;
    padding: 0;
}

.no-gap>* {
    margin: 0;
    padding: 0;
}

.add-mar-bot {
    margin-bottom: 2em;
}

.smallImg {
    width: 70%;
    margin: 10%;
}

.w-50 {
    width: 20em;
}

#storyboard {
    display: none;
}

.no-mar {
    margin: auto;
}

button {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0, 0.87);
    font-size: 1em;
    padding: 1em;
    border: none;
    margin: 10% auto;
    display: block;
    font-family: 'Lexend_deca', sans-serif;
}

@media only screen and (max-width: 1000px) {
    .divcircle {
        width: 180px;
        height: 180px;
    }

    .parCircle {
        padding: 5% 0 0 10%;
    }

    .intro-box {
        margin: 0 10% 10%;
    }

    .content-wrapper,
    .sections,
    footer {
        margin: 3% 10% 0;
    }

    .top-nav {
        margin: 0 10%;
    }

    .low {
        margin-top: 30%;
    }

    .to-1-col-fst {
        grid-template-columns: 1fr;
    }

    .to-2-col {
        grid-template-columns: 1fr 1fr;
    }

    .to-2-col>* {
        margin-bottom: 2em;
        text-align: center;
    }

    .cell ul li {
        padding-left: 0
    }

    .disappear-img {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .link-to-top {
        width: 1em;
        height: 1em;
    }

    .disappear {
        display: none;
    }

    .link-to-top i {
        margin: 0;
    }

    .low {
        margin-top: 50%;
    }

    .small {
        grid-template-columns: 1fr 3fr;
    }

    .small-rght {
        grid-template-columns: 3fr 1fr;
    }

    .add-pad-left {
        padding-left: 1em;
    }

    .small .video {
        width: 100%;
    }


}

@media only screen and (max-width: 660px) {
    .divcircle-to-1-col {
        grid-template-columns: 1fr;
    }

    .divcircle {
        display: block;
        margin: 10px auto;
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 560px) {
    .low {
        margin-top: 5%;
    }

    .sections {
        width: 90%;
        grid-template-columns: 1fr;
    }

    #brigades-span2 {
        grid-column: 1/2;
    }

    .content-wrapper,
    footer,
    .sections {
        margin: 0 5%;
    }

    .to-1-col {
        grid-template-columns: 1fr;
    }

    .to-hide {
        display: none;
    }

    .to-show {
        display: block !important;
    }

    .smallImg {
        width: 100%;
    }

}

@media only screen and (max-width: 480px) {
    .item {
        margin-right: 10px;
        margin-left: 0;
    }


}