@font-face {
    font-family: "medium";
    src: url(../fonts/medium.woff);
}

@font-face {
    font-family: "heavy";
    src: url(../fonts/heavy.woff);
}

@font-face {
    font-family: "black";
    src: url(../fonts/black.woff);
}


