$background-color: #fafafa;
$text-color: #5f5f5f;

$primary-color-1: #574FAF;
$primary-color-2: #827BD3;

$secondary-color: #827BD3;
$secondary-color-2: #8F42D3;

$small:0.5rem;
$regular: 1rem;
$normal: 1.3rem;
$fine: 1.44rem;
$medium: 1.6rem;
$large:2rem;
$grange:3rem;

// breakpoints
$breakpoints-phone: 767px;
$breakpoints-tablet: 992px;
$breakpoints-desktop:1200px;


$margin-root-desktop: 20%;
$margin-root-tablet: 3rem;