.bot_nav{
    min-height: 100px;

    &__link_to_next_page{
        width:100%;
        height: 270px;
        padding: 1rem 0;
        text-align: center;
        text-transform: capitalize;
        text-decoration: none;
        background-color: $button-bg-color;
        font-size: $regular;
        border-radius: $regular;
        transition: 0.2s;
        box-sizing: border-box;

        img{
            height: 90%;
            width: auto;
            display: block;
            margin: auto;
            box-sizing: border-box;
            padding: 1rem;
        }

        &:hover{
            background-color: $secondary-color;
            color: white;
            cursor: pointer;
        }
    }
}